<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSV Converter - Tabela</title>
</head>
<body>
  <table>
    <thead>
      <% header.forEach(headerItem =>{ %>
        <th> <%= headerItem %> </th>
      <% }) %>
    </thead>

    <tbody>
      <% rows.forEach(row => { %> 
        <tr>
          <% row.forEach(rowItem => { %>
            <td>
              <%= rowItem %>
            </td>
          <% }) %>
        </tr>  
      <% }) %>
    </tbody>
  </table>
  
</body>
</html>